<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
</head>

<body>

    <form action="/invoice" method="GET">
        <button type="submit">Open Invoice</button>
    </form>

    <br>
    <hr>

    <% if (!invoices || invoices.length===0) { %>
        <p><b>No invoices found.</b></p>
        <% } else { %>

            <table border="1" cellpadding="8" cellspacing="0">
                <tr bgcolor="#f0f0f0">
                    <th>Name</th>
                    <th>Mobile</th>
                    <th>Total Amount</th>
                    <th>Invoice Total</th>
                    <th>Action</th>
                </tr>

                <% for (var i=0; i < invoices.length; i++) { %>
                    <tr>
                        <td>
                            <%= invoices[i].Name %>
                        </td>
                        <td>
                            <%= invoices[i].MobileNo %>
                        </td>
                        <td>
                            <%= invoices[i].totalAmount %>
                        </td>
                        <td>
                            <%= invoices[i].invoiceTotalAfter %>
                        </td>
                        
                        <td>
                            <a href="/items/<%= invoices[i]._id %>">
                                <button>View Items</button>
                            </a>
                        </td>

                    </tr>
                    <% } %>
            </table>
            <% } %>

</body>

</html>